<div class="backgroungImage">
<nav class="navbar navbar-inverse navHome">
  <div class="container-fluid">
    <div class="navbar-form navbar-right">
      <div class="input-group" *ngIf="router.url === '/'">
        <input type="text" class="form-control inputSearch" [(ngModel)]="searchValue"
         (input)="updateSearchValue($event.target.value)"
        placeholder="search" style="">
        <div class="input-group-btn iconSearch">
          <button class="btn btn-default buttonSearch">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="navbar-form navbar-left">
      <div class="input-group">
      <app-language></app-language>
      <app-cart-shopping *ngIf="router.url === '/'"></app-cart-shopping>
    </div>
    </div>
  </div>
</nav>


<router-outlet>
</router-outlet>
</div>
