<ngb-carousel *ngIf="images">
  <ng-template ngbSlide style="height:150px !important;">
    <div>
      <img src="../../../assets/images/background-robot.png" class="rounded-circle" class="inLineBlock" width="100%" height="135">
    </div>
  </ng-template>
  <ng-template ngbSlide style="height:150px !important;">
    <div>
      <img src="../../../assets/images/background-robot.png" class="rounded-circle" class="inLineBlock" width="100%" height="135">
    </div>
  </ng-template>
</ngb-carousel>
