
<div class="infoTitle" *ngIf="_title !== null && _title !== undefined">
  {{ _title }}
</div>
<div class="infoActor" *ngIf="_actor !== null && _actor !== undefined">
  <span>
    {{ _actor }}
  </span>
</div>
<div class="infoDiscription">
  <p class="pDiscription" *ngIf="_modalDisplay">
    {{ discription }}
    ...<app-modal [bookData]="_bookData" [titleButton]="'suit'" [titleModal]="_title"></app-modal>
  </p>
  <p class="pDiscriptionDetail" *ngIf="!_modalDisplay">
    {{ discriptionDetail }}
  </p>
</div>
