<div class="saleContent">
  <ngb-rating [rate]="_note" placement="right" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
  popoverTitle="Popover on top">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="fill === 100" [class.bad]="index < _note">&#9733;</span>
    </ng-template>
  </ngb-rating>
  <div class="scrollbar" id="style-6" *ngIf="_modalDisplay" style="border: solid 1px #8080801c; padding: 3px;">
    <div class="force-overflow">
      <app-sale-detail *ngFor="let item of _saleFeedBack"
      [imageURL]="item.imageURL"
      [text]="item.text"
      [note]="item.note">
    </app-sale-detail>
    </div>
  </div>
  <div class="priceSale">{{_price}} &euro;</div>
  <div class="paddingButtonSale">
    <button *ngIf="!_inCart" type="button" (click)="addBookWithCallBack();"
     class="btn btn-info" style="max-width: 200px; min-width: 200px; width: 200px;">
      <i class="fa fa-shopping-cart"></i>
      Ajouter au panier
    </button>
    <button *ngIf="_inCart" type="button"
    class="btn btn-warning" style="max-width: 200px; min-width: 200px; width: 200px;">
      <i class="fa fa-shopping-cart"></i>
      Retirer de panier
    </button>
  </div>
</div>
