<div  class="bookContent">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 imageContent">
    <app-image
      [imageURL]="_bookData.cover"
      [maxWidth]="150"
      [maxheight]="200"
      [displayShadow]="true" >
    </app-image>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 infoContent">
    <app-info-section
      [title]="_bookData.title"
      [actor]="'Henri Potier'"
      [discription]="_bookData.synopsis"
      [bookData]="_bookData"
      [modalDisplay]="true">
    </app-info-section>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 saleContent">
    <app-sale-section
    [price]="_bookData.price"
    [note]="4"
    [inCart]="_inCart"
    [addBookCallBack]="addBookWithCallBack.bind(this)"
    [listBookInCart]="listBookInCart">
  </app-sale-section>
  </div>
</div>
