@import "../../../styles.less";
.shopping-content{
  .counter-shopping{
    font-size: 18px !important;
    position: relative;
    left: -16px;
    top: -13px;
    color: @darkYellow;
    background-color: white;
    border-radius: 18px;
    padding-left: 4px;
    padding-right: 5px;
  }
  .icon-shopping{
    font-size: 27px;
    margin-right: -25px;
    color: @white;
  }
  .dropdown-menu {
    position: absolute;
    width: auto;
    min-width: auto;
    max-width: auto;
    right: -32px !important;
    margin-left: -250px !important;
    border-radius: 0px !important;
    padding: 10px;
  }
  .cartButton {
    border-radius: 0px !important;
    height: 50px !important;
    background-color: @transparanteButton;
    border: 0px;
    color: @white;
    font-size: 18px;
    outline:none;
  }
  .btn-success {
    border-radius : 0px !important;
    width: 97%;
    margin-left: 3px;
    margin-right: 3px;
  }
}
