.shopping-content{
  .counter-shopping{
    font-size: 18px !important;
    position: relative;
    left: -16px;
    top: -13px;
    color: #ff9d1e;
    background-color: white;
    border-radius: 18px;
    padding-left: 4px;
    padding-right: 5px;
    // border: solid 2px #ff9d1e;
  }
  // .dropdown-toggle {
  //   display: none;
  // }
  .icon-shopping{
    font-size: 27px;
    margin-right: -25px;
    color: white;
  }
  .dropdown-menu {
    position: absolute;
    right: -32px !important;
    margin-left: -117px !important;
    border-radius : 0px !important;
  }
  .cartButton {
    border-radius: 0px !important;
    height: 50px !important;
    background-color: #ffffff00;
    border: 0px;
    color: white;
    font-size: 18px;
    outline:none;
  }
  .btn-success {
    border-radius : 0px !important;
    width: 97%;
    margin-left: 3px;
    margin-right: 3px;
  }
}
