<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" style="padding-right:20px; border-radius: 0px !important;">
  <button class="languageButton" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()" style="border-radius: 0px !important;">
  <img *ngIf="true" src="../../../assets/images/flag-of-{{'language.languageFlag' | translate}}.png" class="inLineBlock" style="margin-top: -5px;" width="30" height="20">
  {{languageName}}
</button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual" style="width: 82px !important;  max-width: 80px !important;  min-width: 92px !important;
      position: absolute; top: 47px !important; left: 0px;">
    <button class="dropdown-item" (click)="updateLanguage('en')">
      <img *ngIf="true" src="../../../assets/images/flag-of-United-Kingdom.png" class="rounded-circle" class="inLineBlock" width="20" height="12">
      EN
    </button>
    <button class="dropdown-item" (click)="updateLanguage('fr')">
      <img *ngIf="true" src="../../../assets/images/flag-of-France.png" class="rounded-circle" class="inLineBlock" width="20" height="12">
      FR
    </button>

  </div>
