.backgroungImage {
  background-image: url('images/backgroung-image.jpg');

    background-repeat: no-repeat;
  background-position:top;
  background-attachment: fixed;
  background-size: 100% 100%;
}
