.backgroungImage {
  background-image: url('images/backgroung-image.jpg');
  height: -webkit-fill-available;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
