<div class="container text-center">
<br>
<h3 style="color: white;">List of books</h3>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
</div>

</div><br>
