<!-- <div style="padding-top: 50px;max-width: 1000px; margin-right: auto;
  margin-left: auto;">
<app-book></app-book>
<hr>
<app-book></app-book>
<hr>
<app-book></app-book>
<hr>
<app-book></app-book>
<hr>
<app-book></app-book>
<hr>
<app-book></app-book>
<hr>
<app-book></app-book>
<hr>
</div> -->


<div class="container text-center">
<h3>Our Partners</h3>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding:15px;">
    <app-book></app-book>
  </div>
  <hr>
</div>

</div><br>
