<div class="container text-center">
<h3 class="whiteText">Search Result : {{ listOfBooksSearchResult.length }} Books</h3>
<div class="row" *ngIf="inSearchResult(global.getSearchValue()) && listOfBooksSearchResult.length > 0">
  <div *ngFor="let book of listOfBooksSearchResult; let i = index" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
    <app-book
      [bookData]="book"
      [addBookCallBack]="addBookInList.bind(this)"
      [listBookInCart]="_listBookInCart">
    </app-book>
    <hr>
  </div>
</div>

<div *ngIf="listOfBooksSearchResult.length === 0" class="row noData">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <i class="fa fa-search iconNoData"></i>
    <h1 class="text-center"> No data found </h1>
  </div>
</div>

</div>
