<!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul> -->
<div class="form-inline my-2 my-lg-0">
  <app-language></app-language>
  <app-modal style="padding-right: 10px;"
  [titleButton]="'Sign In'"
  [titleModal]="'Modal test'"
  [typeModal]="'signIn'"
  ></app-modal>
  <app-modal style="padding-right: 10px;"
  [titleButton]="'Sign Up'"
  [titleModal]="'Modal test'"
  [typeModal]="'signUp'"
  ></app-modal>
  <app-user-info
  [userLabel]="'UserName'"
  [userUrlImage]="'../../../assets/images/user.png'"
  [displayLabel]="true"
  [displayImage]="true">
</app-user-info>
</div>
