@import "../../../styles.less";

.shoppingContent {
  padding-top: 30px;
  .shoppingLabel {
    background-color: @greyLight;
    min-height: 400px;
    max-height: 400px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .totalPrice {
    font-size: 24px;
  }
  .btn {
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
    border-radius: 0px;
  }
  .totalArticle {
    font-size: 24px;
    color: @grey;
  }
  .textThrough {
    text-decoration: line-through;
    color: @grey;
    font-weight: bold;
    padding-right: 30px;
  }
  .textRed {
     color: @red;
     font-weight: bold;
  }
  .verticalPadding {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fixContent {
    min-height: 350px;
  }
}
